name: Terraform CI

on:
  workflow_dispatch:

env:
  ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.TENANT_ID }}

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v1
    - uses: hashicorp/setup-terraform@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume:  ${{ secrets.AWS_GITHUB_ROLE }}
        aws-region: eu-west-2

    - name: Terraform Init
      id: init
      run: terraform init

    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
  plan:
    name: Plan
    needs: validate
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v1
    - uses: hashicorp/setup-terraform@v2
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: ${{ secrets.AWS_GITHUB_ROLE }}
        aws-region: eu-west-2
    
    - name: Terraform init
      id: init
      run: terraform init
    
    - name: Terraform plan
      id: plan
      run: terraform plan -out tfplan

    - name: Save TF plan
      uses: actions/upload-artifact@v3
      with:
        name: tfplan
        path: tfplan
  
  checkov:
    name: Checkov
    needs: plan
    runs-on: ubuntu-latest
    steps:
    - name: Download TF plan
      uses: actions/download-artifact@v3
      with:
        name: tfplan

    - name: DEBUG
      run: ls -la
      
    - name: Run checkov
      uses: bridgecrewio/checkov-action@master
      with:
        file: tfplan
        output_format: cli

