name: Static checks

on:
  pull_request:
    branches:
      - '*'

env:
  ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.TENANT_ID }}

jobs:
  checkov:
    name: Checkov
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Run checkov
      uses: bridgecrewio/checkov-action@master
      with:
        directory: ${{ github.workspace }}
        skip_check: CKV_TF_1
        download_external_modules: true
        framework: terraform
        output_format: cli
        soft_fail: true